
body{
    font-family: 'Source Sans Pro', sans-serif;
    background: #282828;
    background: linear-gradient(-45deg, #EE7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

h1{
font-weight: lighter;
font-size: 80px;
color: white;
text-align: center;
padding-top: 50px;
margin-bottom: 0px;
}

.wrapper p{
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 0px;

}

.media{
text-align: center;
padding-top: 25px;
}

.wrapper li{
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 25px;
    padding: 20px 22px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    transition: .5s;
}

.wrapper li:hover{
    color: #292929;
    border: 1px solid #292929;
    transition: .5s;
}



@-webkit-keyframes Gradient{
    0%{
        background-position: 0% 50%
    }
    50%{
        background-position: 100% 50%
    }
    100%{
        background-position: 0% 50%
    }
}


.content {
    margin-left: 40px;
}



.date {
    color: lemonchiffon;
}

.save {
    float: right;
}

.post-form{
margin-right: 40px;
margin-left: 40px;
}

#post-header{
margin-right: 40px;
margin-left: 40px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-top: 20px;
    margin-bottom: 70px;
    font-family: 'Pacifico', cursive;
    margin-left: 15px;
    text-align: center;
    margin-right: 15px;
    color: linen;
}

.post h2 a, .post h1 a:visited {
    color: white;
}



.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  li{
      color: white;
  }

 #hint_id_username{
    color: white;
 }

 #hint_id_password2{
     color: white;
 }

 .form-group{
     margin-left: 40px;
     margin-right: 40px;
     color:lemonchiffon;
 }

 .form-group p{
     color: white;
     text-align: center;
 }

.form-group button{
width: 40%;
margin-left: 30%;
margin-right: 30%
}
